
 <% @posts.each do |p| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= p.title %><br><br>
       <strong><%= p.link %></strong>
      </div>
    </div>
<% end %>
<%= link_to 'New Link', 'posts/new', :class => 'btn btn-primary' %>