<!-- <h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
 -->


 <%= bootstrap_form_for @post do |p| %>
    <%= p.text_area :title %>
    <%= p.text_field :link %>

    <%= p.primary %>
<% end %>